---
Language: Cpp
BasedOnStyle: LLVM
AlignConsecutiveMacros: Consecutive
AlignOperands: Align
# AlignTrailingComments: true
# AllowAllArgumentsOnNextLine: true
# AllowAllConstructorInitializersOnNextLine: false
# AllowAllParametersOfDeclarationOnNextLine: false
# AllowShortBlocksOnASingleLine: Empty
# AllowShortCaseLabelsOnASingleLine: false
# AllowShortFunctionsOnASingleLine: Empty
# AllowShortIfStatementsOnASingleLine: Never
# AllowShortLambdasOnASingleLine: All
# AllowShortLoopsOnASingleLine: false
# AlwaysBreakBeforeMultilineStrings: false
# AlwaysBreakTemplateDeclarations: Yes
# BreakBeforeBraces: Custom
# BraceWrapping:
#   AfterCaseLabel: false
#   AfterClass: true
#   AfterControlStatement: Always
#   AfterEnum: false
#   AfterFunction: true
#   AfterNamespace: false
#   AfterObjCDeclaration: true
#   AfterStruct: true
#   AfterUnion: true
#   AfterExternBlock: false
#   BeforeCatch: true
#   BeforeElse: true
#   BeforeLambdaBody: false
#   BeforeWhile: true
#   IndentBraces: false
#   SplitEmptyFunction: true
#   SplitEmptyRecord: true
#   SplitEmptyNamespace: false
# BreakBeforeTernaryOperators: true
# BreakConstructorInitializers: BeforeColon
# ColumnLimit: 120
# CompactNamespaces: true
# Cpp11BracedListStyle: false
# FixNamespaceComments: true
# IndentCaseLabels: true
# IndentWidth: 2
# KeepEmptyLinesAtTheStartOfBlocks: false
# MaxEmptyLinesToKeep: 1
# NamespaceIndentation: Inner
# PinBackArguments: true
# PinBackParameters: true
# PointerAlignment: Right
# ReflowComments: true
# SortIncludes: CaseInsensitive
# SpaceAfterCStyleCast: false
# SpaceAfterLogicalNot: false
# SpaceAfterTemplateKeyword: false
# SpaceBeforeAssignmentOperators: true
# SpaceBeforeInheritanceColon: false
# SpaceBeforeParens: ControlStatements
# SpaceBeforeRangeBasedForLoopColon: false
# SpaceInEmptyParentheses: false
# SpacesInAngles: Never
# SpacesInCStyleCastParentheses: false
# SpacesInParentheses: false
# SpacesInSquareBrackets: false
# Standard: Auto
# TabWidth: 2
# UseTab: Never
